html{
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0;
    padding-top: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
    max-width: 100%;
}
.bloq1{
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    
    width: 250px;
    padding-right: 35px;
}
.agregar{
    display: flex;
    align-items: center;
}
.perfil{
    display: flex;
    flex-direction: column;
}
.perfil1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.perfil2{
    margin-right: 10px;
}
.perfil3{
    text-decoration: none;
}
.perfil p, .perfil3 h3{
    margin: 0;
}
.perfil4{
    font-size: 14px;
}
img.lupa{
    width: 25px;
}
input.buscador{
    height: 30px;
    width: 450px;

    margin: 0;
    padding: 0;
}
.carrito{
    display: flex;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
nav{
    height: 40px;
    width: 100%;
    background-color: cadetblue;
}
.heros-section{
    height: 235px;
    border-bottom: 1px #fff;
}
.bloq2{
    border: 1px solid #000;

    height: 250px;
    width: 95%;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.view1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-bottom: 20px; 
}

.view2 {
    flex: 1;
    margin-right: 20px;
}

.view3 {
    flex: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view3 h2, .view3 p {
    margin: 5px 0; 
}

img.view4 {
    max-width: 100px;
    height: auto;
    display: block; 
}

